.book {
    padding: 20px;
}

.book__cover {
    background-color: #e9e9e9;
    height: 100%;
    padding: 20px;
}

.book__cover img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}

.book__categories {
    color: grey;
    padding-left: 20px;
}

.book__authors {
    color: grey;
    padding-left: 20px;
}

.book__title {
    font-size: 16pt;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.book__description {
    font-size: 14pt;
    line-height: 1.5;
    padding: 20px;
}
